<!DOCTYPE html>
<html>
  <head>
    <title>Musics</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header>
      <div>
        <% if current_user.nil? %>
          <% link_to 'Sign_in', new_session_url %>
          <% link_to 'Sign_up', new_user_url %>
        <% else %>
           <%= button_to 'Logout', session_url, method: :delete %>
        <% end %>
      </div>
      <h1>Music App</h1>
    </header>
    <main>
      <%= yield %>
    </main>

  </body>
</html>
